:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #213547;
    background-color: #f4f7f4;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    min-height: 100vh;
}

#app {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Title */

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Subtitle */

.subtitle {
    color: gray;
    margin-bottom: 40px;
}

/* Navigation cards */

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: block;
    width: 200px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.card:hover {
    background: #e8f5e9;
    transform: translateY(-5px);
}